@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  color: #2E2E3C;
  font-weight: 700;
  border: 1px solid #000000;
  border-radius: 4px;
  max-width: 196px;
  width: 100%;
  height: 36px;
  text-transform: uppercase;
  font-style: normal;
  font-size: 24px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.title__link {
  background: #9A98EA;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding: 7px 10px;
  border-radius: 4px;
}

.news {
  display: flex;
  justify-content: center;
}

.products {
  display: flex;
  justify-content: center;
}