@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.news{
  background: #D7D6DC;
}

.news__list{
  display: flex;
  justify-content: space-between;
}

.title{
  font-size: 24px;
  padding: 10px 0;
  text-align: center;
}

.news__card{
  max-width: 350px;
  width: 100%;
  padding: 15px;
  background: #fff;
  border-radius: 3px;
}

.news__img{
  max-width: 320px;
  height: 263px;
  object-fit: cover;
}

.news__title{
  text-align: left;
  color: #2C2A2A;
  font-size: 22px;
  font-weight: 700;
}